APP_NAME="CR8TOR - Publish Service API"
ENVIRONMENT="local"
DESTINATION_POSTGRESQL_HOST=mypginstance.postgres.database.azure.com
DESTINATION_POSTGRESQL_DATABASE=postgres
DESTINATION_POSTGRESQL_USERNAME=pgsql_admin
DESTINATION_POSTGRESQL_PASSWORD_SECRET_NAME=somepassword
DESTINATION_POSTGRESQL_PORT=5432
DESTINATION_POSTGRESQL_OPAL_READONLY_USERNAME=pgsql_admin
DESTINATION_POSTGRESQL_OPAL_READONLY_PASSWORD_SECRET_NAME=somepassword
DESTINATION_OPAL_HOST=http://host.docker.internal:8880
DESTINATION_OPAL_USERNAME=administrator
DESTINATION_OPAL_PASSWORD_SECRET_NAME=password
SECRETS_MNT_PATH=/mnt/secrets/
TARGET_STORAGE_ACCOUNT_LSC_SDE_MNT_PATH=/mnt/lscdestination
TARGET_STORAGE_ACCOUNT_NW_SDE_MNT_PATH=/mnt/nwdestination